* {box-sizing: border-box;}
body{ margin: 0; }

#main{ min-height: 100vh; }

.relative { position: relative;}
.overlayer{
    display: flex;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    min-height: 90vh;
    align-items: center;
}
.prev-link{
    background-color: white;
    padding: 10px;
    border-radius: 0 3px 3px 0;
}
.next-link{
    background-color: white;
    padding: 10px;
    border-radius: 3px 0 0 3px;
}